CompileFlags:
  Add: [-Iinc, -Iutils, -std=c18, -Wall, -Wextra, -Werror]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

---

If:
  PathMatch: .*\.cpp

CompileFlags:
  Remove: [-std=c18]
  Add: [-xc++, -std=c++20]
